<div id="flash_messages" class="hidden card">
    {# message from js if successful submit #}
    <p class="flash_success">
        <span id="flash_message"></span>
        <button id="close_flash_message" class="waves-effect waves-teal btn-small">X</button>
    </p>
</div>

{{ form_start(form, {
    'attr': {
        'id': 'contact_form',
        'novalidate': 'novalidate'
    }
}) }}
    <div class="row">
        <div class="input-field col s12 l6">
            {{ form_label(form.first_name) }}
            {{ form_widget(form.first_name) }}
            <div class="form_errors" id="first_name">
                {{ form_errors(form.first_name) }}
            </div>
        </div>

        <div class="input-field col s12 l6">
            {{ form_label(form.last_name) }}
            {{ form_widget(form.last_name) }}
            <div class="form_errors" id="last_name">
                {{ form_errors(form.last_name) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="form_errors" id="email">
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form.object) }}
            {{ form_widget(form.object) }}
            <div class="form_errors" id="object">
                {{ form_errors(form.object) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form.message) }}
            {{ form_widget(form.message, {'attr': {'class' : 'materialize-textarea'}}) }}
            <div class="form_errors" id="message">
                {{ form_errors(form.message) }}
            </div>
        </div>
    </div>

    <p class="col s12">
        <label>
            <input id="agree" name="agree" type="checkbox" />
            <span>En soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées pour me recontacter. Pour connaître et exercer mes droits, je peux consulter la <a href="/politique-de-confidentialite">Politique de confidentialité</a>.</span>
        </label>
    </p>

    <div class="row">
        <div class="input-field col s12 center-align">
            <button class="btn btn-large waves-effect waves-light disabled" id="submitted">{{ button_label|default('Envoyer un message') }}</button>
        </div>
    </div>  

{{ form_end(form) }}
