{% if projects|default %}

    {# BOTTOM SHEET MODAL #}
    {% for project in projects %}
        <div id="modal1{{project.id}}" class="modal bottom-sheet z-depth-0">
            <div class="modal-content">
                <a class="" href="{{project.links[0].href}}">
                    {# <img src="{{asset('uploads/projets/' ~ project.image)}}" alt="Maquette du projet {{project.title}}" /> #}
                    <h2>{{project.title}}</h2>
                    {{project.description|raw}}
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}