{{ form_start(form) }}
    <div class="form-group">
        <div class="input-field col s12">
            <span class="prefix">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="comment-alt" class="svg-inline--fa fa-comment-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="22"><path fill="#9e9e9e" d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288z"></path></svg>
            </span>
            {{ form_label(form.message) }}
        </div>
        <div class="form-widget">
            {{ form_widget(form.message, {'attr': {'class' : 'ea-text-editor-content form-control', 'style' : 'height: 150px'}}) }}
        </div>
        <div class="input-field col s12">
            {{ form_errors(form.message) }}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 center-align">
            <button class="btn btn-primary" id="submitted">{{ button_label|default('Envoyer') }}</button>
        </div>
    </div>  

{{ form_end(form) }}
