{% if education|default %}

<div class="bg_white_section">
    <div class="container">
        <div class="row formations">
            <div class="main-timeline">
                {% for formation in education %}
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox">
                            <img src="{{asset('uploads/formations/' ~ formation.thumbnail)}}" class="img" alt="{{formation.schoolName}} thumbnail">
                            </span></div>
                            <div class="content">
                                <span class="year">{{formation.date|format_datetime(locale='fr', pattern="yyyy")}}</span>
                                <h3 class="title h4">{{formation.title}}</h3>
                                <div class="description">
                                    <strong>{{formation.schoolName}}</strong> 
                                    {{formation.description|raw}} 
                                </div>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endif %}