{% if projects|default %}

{# GALLERY #}
<div class="bg_white_section">
    <div class="container">
        {# Desktop Blocks #}
        <div class="gallery hide-on-med-and-down">
            {# {% if tools|default %}
                <div class="tool_badges row">
                    {% for tool in tools %}
                        <a href="#"><span class="badge">{{tool.title}}</span></a>
                    {% endfor %}
                </div>
            {% endif %} #}

            {% set rows = (projects|length)/2.5 %}

            <div class="grid_gallery" style="grid-template-rows: repeat({{rows|round(0, 'floor')}}, 21vw)!important;">
                {% set i = 0 %}
                {% for project in projects %}
                    {% set i = i+1 %}
                    <div class="gallery__item--{{i}} grid_items" style="background:url('{{asset('uploads/projets/' ~ project.image)}}'); background-size: cover; background-position: top;">
                        <div class="hexIn card">
                            <a class="hexLink modal-trigger hex_modal-trigger" data-target="modal1{{project.id}}" data-project="{{project.id}}">
                                <h3>{{project.title}}</h3>
                                {{project.description|raw}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="section-with-carousel section-with-left-offset position-relative hide-on-large-only">
            <div class="carousel-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for project in projects %}
                            <div class="swiper-slide">
                                <a class="slide_link modal-trigger" data-target="modal1{{project.id}}" data-project="{{project.id}}">
                                    <div class="project-background" style="background:url({{ asset('uploads/projets/' ~ project.image) }}) no-repeat center"></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </section>

        
    </div>
</div>

{% endif %}