{% if projects|default %}

    {# DESKTOP #}
    <ul id="hexGrid">
        {% for project in projects %}
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="{{project.links[0].href}}">
                        <img src="{{asset('uploads/projets/' ~ project.image)}}" alt="Maquette du projet {{project.title}}" />
                        <h2 class="white-text">{{project.title}}</h2>
                        {{project.description|raw}}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {# MOBILE #}
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
            <!-- Slides -->
            {% for project in projects %}
                <li class="hex swiper-slide">
                    <div class="hexIn">
                        <a class="hexLink">
                            <img src="{{asset('uploads/projets/' ~ project.image)}}" alt="Maquette du projet {{project.title}}" />
                            <h2>{{project.title}}</h2>
                            {{project.description|raw}}
                            {# <a class="hexLink" href="{{project.links[0].href}}"></a> #}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="swiper-scrollbar"></div>
    </div>

{% endif %}