<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Portfolio, Développeuse Web Junior. En recherche de nouveaux talents ? Je suis incluse dans les plus récents packages.">
        <meta property="og:image" content="{{asset('images/favicon//mstile-150x150.webp')}}"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon//favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon//favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('images/favicon//site.webmanifest')}}">
        <link rel="mask-icon" href="{{asset('images/favicon//safari-pinned-tab.svg')}}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('auth') }}
        {% endblock %}
    </head>
    <body>

        <div class="main">

            {% block body %}

            {% endblock %}

        </div>

    </body>
</html>