<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Charlotte Saidi | Développeuse Web Junior | Porfolio</title>
        <meta name="description" content="Portfolio, Développeuse Web Junior. En recherche de nouveaux talents ? Je suis incluse dans les plus récents packages.">
        <meta property="og:image" content="{{asset('images/favicon//mstile-150x150.webp')}}"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon//favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/favicon//favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('images/favicon//site.webmanifest')}}">
        <link rel="mask-icon" href="{{asset('images/favicon//safari-pinned-tab.svg')}}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex,nofollow"> 
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body id="body" theme="light">
        <div class="gradient_background"></div>

        {% set route_name = app.request.get('_route') %}

        {% include "blocks/components/_flashMessages.html.twig" %}

        {% if route_name == 'home' %}
            {% include "blocks/_header.html.twig" %}
        {% elseif route_name == 'page' %}
            {% include "blocks/_page_header.html.twig" %}
        {% endif %}

        <div id="pageTop" class="main scrollspy">
            {% block body %}{% endblock %}
        </div>
        
        {% if route_name == 'home' %}
            {% include "blocks/contact/_new.html.twig" %}
            {% include "blocks/_footer.html.twig" %}
        {% elseif route_name == 'home' or route_name == 'page' %}
            {% include "blocks/_footer.html.twig" %}
        {% endif %}
        
        
    </body>
    
</html>
